/* Screen above 768px */

*{
    max-width: 100%;
}
.blog{
    border: 1px solid grey;
    width: 100%;
    min-height: calc(90vh - 100px);
    max-height: 100vh;
}
.hed{
  min-width: 60%;
  max-width: fit-content;
  height: 3rem;
}

.btn{
  margin-right: 5px;
}

/* Screen below 768px */

@media (max-width: 768px) {
  .hed{
    min-width: 100%;
    max-width: 100%;
    height: 3rem;
  }
}